name: quality-pipeline

on: [push]

jobs:
  typecheck-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm ci

      - name: Run TypeScript Check
        run: npm run tscheck --if-present

      - name: Run ESLint
        run: npm run lint:quiet --if-present

      - name: Run StyleLint
        run: npm run slint:quiet --if-present

  test:
    needs: typecheck-and-lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test --if-present
